.App {
  font-family: sans-serif;
  text-align: center;
}

.answer {
  padding-right:5em;
}

.incorrectAnswer {
  color:darkred;
  font-weight: bold;
}

.correctAnswer {
  color:blue;
}

.invisible{
  color:white;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.table-item{
  text-align: center;
}

.table{
  border: 1px solid black;
}

.table-item{
  border: 1px solid gray;
}