.App {
  font-family: sans-serif;
  text-align: center;
}

.answer {
  padding-right:5em;
}

.incorrectAnswer {
  color:darkred;
  font-weight: bold;
}

.correctAnswer {
  color:blue;
}

.invisible{
  color:white;
  display: inline-block;
  width: 100px;
  text-align: center;
}